---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-5" title="Wer bin ich?">
  <div class="flex flex-col gap-2 py-2">
    <p class="text-sm font-light">
      Meine Freunde nennen mich Ulima. Ich entwickle Webanwendungen mit TypeScript, Node.js und Vue 3. Ich mag es, komplizierte Dinge einfach zu machen und mit neuen Tools zu experimentieren. Am liebsten arbeite ich an Projekten, bei denen etwas Gehirnschmalz gefordert ist. Wenn ich nicht gerade für Geld arbeite, findest du mich wahrscheinlich auf GitHub, wo ich an eigenen Projekten herumbastle.
    </p>
  </div>
</Card>
