---
import Card from "./Card/index.astro";
import Project from "./Project.astro";
---

<script>
    let active = 0;
    let timeout: ReturnType<typeof setTimeout>;

    const setTimer = () => {
        timeout = setTimeout(() => {
            changeSlide(active+1);
        }, 6000)
    }

    // setTimer()

    document.querySelectorAll('#dots > div')!.forEach(el => el.addEventListener('click', (e) => {
        clearTimeout(timeout);
        const el = e.target as HTMLElement;
        const index = [...el.parentNode!.children].indexOf(el);
        changeSlide(index)
    }))

    const changeSlide = (index: number) => {
        const children = document.querySelectorAll('.projects > div');
        const dots = document.querySelectorAll('#dots > div')
        const last = children[active];
        const current = children[index % children.length];

        const lastDot = dots[active];
        const currentDot = dots[index % children.length];

        active = index % children.length;

        last.classList.remove('opacity-100');
        last.classList.add('opacity-0', 'pointer-events-none');

        lastDot.classList.remove('opacity-100');
        lastDot.classList.add('opacity-50');

        current.classList.remove('opacity-0', 'pointer-events-none');
        current.classList.add('opacity-100');

        currentDot.classList.remove('opacity-50');
        currentDot.classList.add('opacity-100');

        setTimer()
    }

</script>

<Card colSpan="md:col-span-2" rowSpan="lg:row-span-4 md:row-span-6 !h-[400px] !md:h-auto">
    <div class="w-full h-full absolute inset-0">
        <div class="grid w-full h-full projects [&>div]:col-start-1 [&>div]:row-start-1 [&>div]:col-end-2 [&>div]:row-end-2 [&>div]:transition-opacity [&>div]:transition-duration-500">
            <Project class="opacity-100" title="Saalplan Designer und Viewer" skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:tailwindcss-light','logos:pixijs', 'skill-icons:php-light']} src="/public/projects/map-designer.jpg">
                Entwicklung einer Anwendung zum Erstellen von Sitzplänen für Theater u.Ä. und upgrade des Codes von Vue 2 zu Vue 3.
                <br><br>
                Performante Darstellung beim Ticketkauf durch WebGL.
            </Project>
            <Project class="opacity-0" title="Webkonferenz-Plattform für Matheunterricht" skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:tailwindcss-light', 'skill-icons:nodejs-light']} src="https://picsum.photos/300/200">
                Ich habe eine Webkonferenz-Plattform mit geteiltem Whiteboard und maßgeschneiderter Jitsi-Funktionalität entwickelt. Ziel war es, eine nahtlose und benutzerfreundliche Online-Lernumgebung zu schaffen, die auf die Bedürfnisse des Matheunterrichts zugeschnitten ist.
            </Project>
            <Project class="opacity-0" title="Baukostenabschätzung und Messung" skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:cs']} src="https://picsum.photos/300/200">
                Ein Tool zum Schätzen von Baukosten u.Ä. anhand von Flurplänen und CAD Modellen. Für dieses Project habe ich die ersten Konzepte entwickelt und MVPs gebaut. Zusätzlich habe ich die Toolchain und Styleguides für das Team etabliert.
            </Project>
            <Project class="opacity-0" title={'Vortragsreihe "Webapplikationen Basis"'} skills={['skill-icons:html', 'skill-icons:css', 'skill-icons:javascript', 'skill-icons:php-light']} src="https://picsum.photos/300/200">
                Lehre der Grundkonzepte von HTML, CSS, Javascript und PHP im Zuge einer 2 wöchigen Schulung.
                Zielpublikum waren u.A. Auszubildene und Umschuldende für Systemadministration.
            </Project>
        </div>
        <div class="absolute bottom-5 left-0 right-0 flex items-center justify-center">
            <!-- dots for navigation -->
            <div class="flex gap-2" id="dots">
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-100 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
            </div>
        </div>
    </div>
</Card>

<style>

    #dots > div {
        box-shadow: "0 0px 20px rgba(255,255, 255, 0.35)",
                    "0 0px 65px rgba(255, 255,255, 0.2)",
    }
</style>