---
import Card from "./Card/index.astro";
import Project from "./Project.astro";
---

<script>
    let active = 0;
    let timeout: ReturnType<typeof setTimeout>;

    const setTimer = () => {
        timeout = setTimeout(() => {
            changeSlide(active+1);
        }, 6000)
    }

    // setTimer()

    document.querySelectorAll('#dots > div')!.forEach(el => el.addEventListener('click', (e) => {
        clearTimeout(timeout);
        const el = e.target as HTMLElement;
        const index = [...el.parentNode!.children].indexOf(el);
        changeSlide(index)
    }))

    const changeSlide = (index: number) => {
        const children = document.querySelectorAll('.projects > div');
        const dots = document.querySelectorAll('#dots > div')
        const last = children[active];
        const current = children[index % children.length];

        const lastDot = dots[active];
        const currentDot = dots[index % children.length];

        active = index % children.length;

        last.classList.remove('opacity-100');
        last.classList.add('opacity-0', 'pointer-events-none');

        lastDot.classList.remove('opacity-100');
        lastDot.classList.add('opacity-50');

        current.classList.remove('opacity-0', 'pointer-events-none');
        current.classList.add('opacity-100');

        currentDot.classList.remove('opacity-50');
        currentDot.classList.add('opacity-100');

        setTimer()
    }

</script>

<Card colSpan="md:col-span-2" rowSpan="lg:row-span-4 md:row-span-6 !h-[400px] !md:h-auto">
    <div class="w-full h-full absolute inset-0">
        <div class="grid w-full h-full projects [&>div]:col-start-1 [&>div]:row-start-1 [&>div]:col-end-2 [&>div]:row-end-2 [&>div]:transition-opacity [&>div]:transition-duration-500">
            <Project class="opacity-100" title="Saalplan Designer und Viewer" 
            skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:tailwindcss-light','logos:pixijs', 'skill-icons:php-light']} 
            src="/projects/map-designer.jpg">
                Entwicklung einer Anwendung zum Erstellen von Sitzplänen für Theater und ähnliche Einrichtungen sowie ein Upgrade des Codes von Vue 2 zu Vue 3.
                <br><br>
                Performante Darstellung beim Ticketkauf durch WebGL.
            </Project>

            <Project class="opacity-0 pointer-events-none" title="Maintainer vom Open Source Projekt SVG.JS"
                        skills={['skill-icons:javascript', 'skill-icons:vitest-light', 'skill-icons:github-light']}
                        src="/projects/svgjs.jpg"} href="https://github.com/svgdotjs/svg.js">
                        SVG.JS ist eine leichte JavaScript-Bibliothek zur einfachen Erstellung und Manipulation von SVG-Grafiken im Web. Sie unterstützt Animationen und ermöglicht die Verknüpfung von Funktionen mit Benutzerinteraktionen.
            </Project>
            
            <Project class="opacity-0 pointer-events-none" title="Webkonferenz-Plattform für Matheunterricht" 
                        skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:tailwindcss-light', 'skill-icons:nodejs-light']} 
                        src="https://picsum.photos/300/200">
                Entwicklung einer Webkonferenz-Plattform mit geteiltem Whiteboard und maßgeschneiderteren Jitsi-Funktionalitäten. Ziel war es, eine nahtlose und benutzerfreundliche Online-Lernumgebung zu schaffen, die auf die Bedürfnisse des Matheunterrichts zugeschnitten ist.
            </Project>
            
            <Project class="opacity-0 pointer-events-none" title="Baukostenabschätzung und Messung" 
                        skills={['skill-icons:vuejs-light', 'skill-icons:typescript', 'skill-icons:cs']} 
                        src="https://picsum.photos/300/200">
                Ein Tool zur Schätzung von Baukosten und ähnlichen Projekten anhand von Flurplänen und CAD-Modellen. Für dieses Projekt habe ich die ersten Konzepte entwickelt und MVPs gebaut. Zusätzlich habe ich die Toolchain und Styleguides für das Team etabliert.
            </Project>
            
            <Project class="opacity-0 pointer-events-none" title={'Vortragsreihe "Webapplikationen Basis"'} 
                        skills={['skill-icons:html', 'skill-icons:css', 'skill-icons:javascript', 'skill-icons:php-light']} 
                        src="/projects/teaching.jpg">
                Lehre der Grundkonzepte von HTML, CSS, JavaScript und PHP im Rahmen einer zweiwöchigen Schulung.
                Zielpublikum waren unter anderem Auszubildende und Umschulende für Systemadministration.
            </Project>
   
        </div>
        <div class="absolute bottom-5 left-0 right-0 flex items-center justify-center">
            <!-- dots for navigation -->
            <div class="flex gap-2" id="dots">
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-100 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
                <div class="cursor-pointer transition-opacity transition-duration-300 w-5 h-5 bg-white rounded-full opacity-50 hover:opacity-70 drop-shadow-glow"></div>
            </div>
        </div>
    </div>
</Card>

<style>

    #dots > div {
        box-shadow: "0 0px 20px rgba(255,255, 255, 0.35)",
                    "0 0px 65px rgba(255, 255,255, 0.2)",
    }
</style>